.header-div {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  margin: 5px;
}

.main-div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  width: 100%;
}

.main-div > div {
  flex: none;
  flex: 1;
}

:host ::ng-deep {
  .p-button {
    margin: 1px;
    width: 230px;
    height: 45px;
    font-size: 18px;
    //background-color: #23786a;
    color: white;
    border-radius: 20px;
  }

  .p-button:hover {
    background-color: white !important;
    color: var(--primary-color); //#23786a !important;
    border: 2px solid var(--primary-color); //#23786a !important;
  }

  .selected .p-button {
    background-color: white;
    color: var(--primary-color); //#23786a;
    border: 2px solid var(--primary-color); //#23786a;
  }
}
