//@import "../../../styles/variables";

app-header,
app-footer {
  height: 10vh;
  width: 100%;
}

app-main-content {
  display: flex;
  width: 100%;
  height: 78vh;
}

label {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 26px;
}
