:host ::ng-deep p-breadcrumb span {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

:host ::ng-deep p-breadcrumb a {
    height: 50px;
    color: #6b7280;
}

:host ::ng-deep p-menu span {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    color: #6b7280;
}

// :host ::ng-deep .p-breadcrumb {
//     background: transparent;
// }

:host ::ng-deep .p-breadcrumb .p-breadcrumb-list li.p-menuitem-separator {
    margin: 0 0.5rem 0 0.5rem;
    color: #4b5563;
}