:host ::ng-deep .p-button.p-button-sm {
    margin: 0 5;
    width: 30px;
    height: 30px;
    background: transparent;
    color: rgb(117, 117, 117);
    border: none;
}

:host ::ng-deep .p-button.p-button-sm:hover {
    background-color: #e9e9e9;
    color: #333;
}

:host ::ng-deep .p-button:active,
:host ::ng-deep .p-button:focus {
    background: transparent !important;
    box-shadow: none !important;
}