// PrimeNG (https://primeng.org/)
//@import 'primeng/resources/primeng.css';
//@import 'primeng/resources/themes/lara-dark-blue/theme.css';
//@import 'primeng/resources/themes/lara-light-blue/theme.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// PrimeNG Icons (https://primeng.org/icons)

//@import 'primeicons/primeicons.css';

// PrimeFlex (https://primeflex.org/)

//@import 'primeflex/primeflex.css';

//@import "../node_modules/quill/dist/quill.core.css";
//@import "../node_modules/quill/dist/quill.snow.css";

//@import './styles/variables';

.image-sound-selected-style {
  padding: 2px;
  color: #07924d !important;
  border: 2px solid #07924d !important;
  border-radius: 5px;
  transform: scale(1) !important;
}

.pi-image {
  color: grey;
  cursor: pointer;
}

.pi-image:hover {
  color: rgb(1, 192, 240);
}

.pi-trash {
  color: grey;
  cursor: pointer;
  margin-right: 5px;
}

.pi-trash:hover {
  color: red;
}

.pi-times-circle {
  color: grey;
  cursor: pointer;
  margin-right: 5px;
}

.pi-times-circle:hover {
  color: red;
}

.pi-volume-up {
  color: grey;
  cursor: pointer;
}

.pi-volume-up:hover {
  color: black;
}

.pi-pen-to-square {
  color: grey;
}

.pi-pen-to-square:hover {
  color: #8a2be2;
}

.image-sound-selected-style:hover {
  color: #07924d !important;
}

input,
textarea,
div {
  font-family: 'Poppins';
}
