.hide {
  display: none;
  width: 0px;
  height: 0px;
}

.selected {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  @media (max-width: 1080px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.header-label {
  margin-left: 5px;
}

:host ::ng-deep {
  .p-card.p-component {
    display: flex;
    flex-direction: column;
    background-color: #9dc1fb;
    border: 1px solid #333;
    max-width: 310px;
    max-height: 400px;
    min-height: 400px;
    justify-content: space-evenly;
    margin: 10px;
    box-sizing: border-box;
    @media (max-width: 400px) {
      width: 280px;
    }
  }

  img {
    box-shadow: 0px 10px 2px -10px black;
    border-bottom: 0;
    padding: 5px;
    width: inherit;
  }

  p-radiobutton {
    .radio-style {
      .p-radiobutton-box {
        border: 1px solid #333;
      }

      .p-radiobutton-box.p-highlight {
        border: thin solid #ccc;
      }
    }
  }

  label {
    font-size: 26px;
    font-weight: 500;
    color: var(--primary-color-text);
    text-shadow: 0px 0px 2px black;
    cursor: pointer;
  }
}

.radioGroup {
  margin-top: -24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  justify-content: center !important;
}
