.answer-container {
  display: flex;
  margin-left: 0px;
  width: 100%; //90vw;
  @media (max-width: 770px) {
    flex-direction: column;
  }
}

memory-matching-pairs-item {
  width: 100%;
  margin-left: 0px;
  margin-right: 5px;
  @media (max-width: 650px) {
    width: 250px;
  }
}
