.p-tooltip {
  .p-tooltip-text {
    background: $tooltipBg;
    color: $tooltipTextColor;
    padding: 20px !important;
    box-shadow: $inputOverlayShadow;
    border-radius: $borderRadius;
    word-break: normal !important;
    white-space: nowrap !important;
  }

  &.p-tooltip-right {
    .p-tooltip-arrow {
      border-right-color: $tooltipBg;
    }
  }

  &.p-tooltip-left {
    .p-tooltip-arrow {
      border-left-color: $tooltipBg;
    }
  }

  &.p-tooltip-top {
    .p-tooltip-arrow {
      border-top-color: $tooltipBg;
    }
  }

  &.p-tooltip-bottom {
    .p-tooltip-arrow {
      border-bottom-color: $tooltipBg;
    }
  }
}
