div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  //overflow-x: hidden;
}

app-header,
app-footer {
  height: 10vh;
  width: 100%;
}

app-header {
  @media (max-width: 1200px) {
    height: 100%;
  }
}

app-main-content {
  display: flex;
  width: 100%;
  //height: 77vh;
  //overflow-x: scroll;
  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    //overflow-x: hidden;
  }
}
