.page-container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  margin-bottom: 2rem;
  
  h1 {
    color: var(--primary-color);
    font-weight: 600;
    margin: 0;
  }
}