stages:
  - deploy

deploy_to_server:
  stage: deploy
  only:
    - main
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan dd.softwebpages.com >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh kourouklis@dd.softwebpages.com -p 2234 "cd /home/kourouklis/supercourse/backend/supercourse-api && git pull origin develop && rm -rf
      node_modules && npm install --legacy-peer-deps && npm run build && pm2 restart 9"
