<div class="flex flex-column p-4">
    <p-tabView>
        <p-tabPanel header="eBooks">

        </p-tabPanel>
        <p-tabPanel header="Interactive activities">

        </p-tabPanel>
        <p-tabPanel header="My files">
            <!-- <div *ngIf="loading" class="flex justify-content-center p-4">
                <p-progressSpinner></p-progressSpinner>
            </div> -->
            <app-master-files></app-master-files>
        </p-tabPanel>
        <p-tabPanel header="Shared with me">
            
        </p-tabPanel>
    </p-tabView>
</div>