<div class="answer">
  <app-loading [isLoading]="isLoading"></app-loading>

  <app-image-selector
    (onBusy)="handleImageSelectorBusy($event)"
    (onErrorMessage)="handleErrorMessage($event)"
    (onImageURLChanged)="handleImageURLChanged($event)"
    [imageURL]="imageURL"
  ></app-image-selector>

  <label class="separator">|</label>
  <i #lastSoundElementRef class="pi pi-volume-up" style="font-size: 1.5rem" (click)="soundClick($event)"></i>
  <label class="separator">|</label>
  <input
    type="text"
    placeholder="{{ 'customActivities.letter_hunt.placeholder' | translate }}"
    [(ngModel)]="answerText"
    (ngModelChange)="onInputChange($event)"
  />
  <i class="pi pi-trash" style="font-size: 1.5rem; margin-left: 10px" (click)="onDeleteClick()"></i>

  <app-warning-dialog [warningMessage]="warningMessage" [isDialogVisible]="isWarningDialogVisible" (onClose)="isWarningDialogVisible = false" />
</div>
