<p-button (onClick)="onClick($event)">{{ 'wellnessCenter.back_button' | translate }}</p-button>

<div class="video-container" *ngIf="videoList.length > 0; else noVideos">
  <div *ngFor="let videoItem of videoList" class="video-and-content">
    <div class="video-wrapper">
      <video
        #videoPlayer
        controls
        preload="auto"
        [src]="videoItem.source"
        crossorigin="anonymous"
        (loadedmetadata)="onMetadataLoaded(videoPlayer, videoItem)"
        (play)="onPlay(videoPlayer, videoItem)"
        (pause)="onPause(videoPlayer, videoItem)"
      ></video>
    </div>
    <label *ngIf="videoItem.title !== ''">{{ videoItem.title }}</label>
  </div>
</div>

<ng-template #noVideos>
  <p>{{ 'wellnessCenter.no_video_label' | translate }}</p>
</ng-template>
