div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 10px;
  width: 100%;
  @media (max-width: 730px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

:host ::ng-deep {
  .p-divider {
    margin: 0px;
    margin-bottom: 30px;
    border-top: 1px solid #ccc;
  }
}
