.question-card {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1px;

  label {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: var(--primary-color);
  }
  overflow-y: auto;
}

.question-card-container {
  width: 100% !important;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px !important;
  margin-left: -1px !important;
  label {
    font-weight: 500;
    cursor: pointer;
  }
}
