<div class="resources-container">
  <!-- Loading indicator -->
  <div *ngIf="loading" class="flex justify-content-center p-4">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <!-- Empty state -->
  <div *ngIf="!loading && materials.length === 0" class="empty-state">
    <div class="flex flex-column align-items-center gap-3 p-4">
      <i class="pi pi-book text-6xl text-400"></i>
      <div class="text-center">
        <div class="text-xl text-600 font-semibold">No Resources Available</div>
        <div class="text-md text-500 mt-2">This class doesn't have any materials assigned yet.</div>
      </div>
    </div>
  </div>

  <!-- Materials grid -->
  <div *ngIf="!loading && materials.length > 0" class="grid materials-grid">
    <div class="col-12 md:col-6 lg:col-4 xl:col-3" *ngFor="let material of materials">
      <p-card class="material-card">
        <ng-template pTemplate="header">
          <div class="material-icon-container">
            <img 
              [src]="getIconUrl(material)" 
              [alt]="material.name"
              class="material-icon"
            />
          </div>
        </ng-template>
        <div class="material-content">
          <h3 class="material-title">{{ material.name }}</h3>
          <div *ngIf="material.category" class="material-category">
            <i class="pi pi-tag text-sm"></i>
            <span>{{ material.category }}</span>
          </div>
          <p *ngIf="material.description" class="material-description">
            {{ material.description }}
          </p>
          <div *ngIf="material.price" class="material-price">
            <span class="price-label">Price:</span>
            <span class="price-value">{{ material.price | currency }}</span>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex flex-row justify-content-around" *ngFor="let component of material.components">
            <div class="flex flex-0" *ngFor="let asset of component.assets">
              <a href="{{asset.source}}" target="_blank" class="no-underline">
                <p-button label="{{asset.edition}}'s {{asset.asset_type}}" [text]="true" severity="info" />
              </a>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

