.headerButton {
  width: 250px;
  height: 50px;
  margin: 10px;
  font-size: x-large;
  background-color: var(--primary-color);
  color: var(--primary-button-text);
  border: 3px solid #f2f2f7;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.selected {
  box-shadow: 0px 0px 4px 4px var(--primary-color);
}
