label {
  font-weight: 500;
  color: var(--primary-color);
  padding-top: 8px;
}

.container {
  margin: 15px;
  width: 96%; //96vw !important;
}

.container-header {
  label {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.container-footer {
  padding-top: 20px;
  label {
    margin-top: 15px !important;
    margin-left: 0px;
    cursor: pointer !important;
  }
}

.cdk-drag-preview {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ccc;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-handle {
  cursor: grab;
}
