.container {
  margin: 15px;
  width: 100%; //93vw !important;
  min-width: 500px !important;
}

label {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 10px;
}

.text-button {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  width: 200px;
  margin-left: 15px;
}

.cdk-drag-preview {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ccc;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-handle {
  cursor: grab;
}

.grabber-number {
  color: var(--primary-color);
  cursor: grab;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  width: 200px;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
}
