.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50px;
  margin-left: 10px;
}

label {
  width: 70px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: #aaa;
  font-size: 16px;
  display: flex;
  align-items: center;
}
