<div class="flex gap-3 p-3 justify-content-center min-w-full">
    <a routerLink="books" routerLinkActive="active">
        <p-button label="Books" icon="pi pi-book" text="true" />
    </a>
    <a routerLink="files" routerLinkActive="active">
        <p-button label="Files" icon="pi pi-folder" text="true" />
    </a>
    <a routerLink="custom-activities" routerLinkActive="active">
        <p-button label="Custom Activities" icon="pi pi-discord" text="true" />
    </a>
</div>

<router-outlet></router-outlet>