<div class="primary-calendar flex gap-2 {{ labelPosition === 'left' ? 'flex-row align-items-center' : 'flex-column' }} {{ styleClass }} w-full">
  <label *ngIf="label" [for]="field.id" class="{{ labelClass }}" [class.font-bold]="labelBold">
    {{ label | translate }} <span *ngIf="required" style="color: #ef4444;">*</span>
  </label>
  <span class="p-input-icon-right relative" [class.flex-1]="labelPosition === 'left'" [class.w-full]="labelPosition === 'top'">
    <p-calendar
      [id]="field.id!"
      [formControl]="formControl"
      [formlyAttributes]="field"
      [placeholder]="placeholder | translate"
      [dateFormat]="dateFormat"
      [selectionMode]="selectionMode"
      [showIcon]="showIcon"
      [showButtonBar]="showButtonBar"
      [showClear]="showClear"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [disabled]="disabled"
      class="w-full"
      [class.ng-invalid]="showError"
      [class.ng-dirty]="showError"
    ></p-calendar>
  </span>
  <small *ngIf="props.description" [id]="field.id + '-help'">
    {{ props.description }}
  </small>
</div> 