.settings-container {
  display: grid !important;
  margin-top: 18px;
  width: 100%; //100vw !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 18px !important;
  box-sizing: border-box;
  user-select: none;
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

:host ::ng-deep {
  .p-checkbox {
    display: flex !important;
    align-items: center !important;
    width: 32px;
  }

  .p-checkbox-box {
    width: 32px !important;
    height: 32px !important;
  }

  .p-checkbox-label {
    cursor: pointer !important;
    display: block !important;
    color: var(--primary-color) !important;
    width: 80% !important;
    white-space: normal !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    margin: 10px;
  }

  .p-checkbox-icon {
    font-size: 18px !important;
  }
}
