<div>
    <div style="margin:20px">

        <p-tabView>
            <div class="flex justify-content-end">
                <app-storage-size></app-storage-size>
            </div>
            <p-tabPanel header="My files">
                <div>
                    <app-list-files></app-list-files>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Shared with me">
                <!-- <app-storage-path-breadrumbs></app-storage-path-breadrumbs> -->
                <!-- <app-storage-list-shared-files></app-storage-list-shared-files> -->
            </p-tabPanel>
        </p-tabView>

    </div>
</div>