<div>
    <div style="margin:10px">

        <div class="flex justify-content-center">
            <!-- <app-storage-bucket-size></app-storage-bucket-size> -->
        </div>
        <div class="flex justify-content-end ml-2 mr-4">
            <!-- <app-storage-create-folder></app-storage-create-folder>
            <app-storage-create-folder></app-storage-create-folder> -->
        </div>
        <!-- <app-storage-path-breadrumbs></app-storage-path-breadrumbs> -->
        <app-list-files></app-list-files>
    </div>
</div>