.hide {
  display: none;
  width: 0px;
  height: 0px;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1080px) {
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    box-sizing: border-box;
  }
}

:host ::ng-deep {
  .p-card.p-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9dc1fb;
    border: 1px solid #333;
    width: 350px;
    max-height: 360px;
    min-height: 360px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    @media (max-width: 400px) {
      width: 280px;
    }
  }

  .selectedCard {
    .p-card.p-component {
      box-shadow: 0px 0px 4px 4px var(--primary-color);
    }
  }

  img {
    padding: 10px;
    height: 250px;
    box-shadow: 0px 10px 2px -10px black;
  }

  label {
    font-size: 32px;
    color: var(--primary-color-text);
    text-shadow: 0px 0px 2px black;
    user-select: none;
    cursor: pointer;
  }
}
