.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px !important;
  width: 100%;
  min-width: 400px;
}

.messages-wrapper {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background-color: var(--primary-color);
    color: white;
  }
  .bottom-right-corner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    .p-button {
      display: flex;
      width: 50px !important;
      height: 50px !important;
      padding: 0;
      .chat-icon {
        width: 30px; /* controls size */
        height: 30px;
        display: block;
        filter: invert(100%) sepia(0%) saturate(0%) brightness(100%) contrast(100%);
      }
      align-items: center;
      justify-content: center;
    }
  }
}

.messages-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  //height: 500px;
  width: 380px;
}

.user-messages {
  display: flex;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 300px;
  padding: 10px;
  word-wrap: break-word;
  white-space: normal;
  align-self: flex-end;
  text-align: start;
  //align-items: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  //text-align: right;
}

.bot-messages {
  display: flex;
  color: black;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 15px;
  max-width: 300px;
  background-color: white;
  border-radius: 5px;
  //margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.typing-indicator {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 5px 0;
}

.typing-indicator span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black; //currentColor;
  animation: bounce 0.6s infinite ease-in-out alternate;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
    opacity: 0.4;
  }
  to {
    transform: translateY(-6px);
    opacity: 1;
  }
}
