:host {
  // Only keep essential styles that can't be achieved with PrimeNG utilities
  .border-black {
    border-color: #000000;
  }
  
  .max-w-4xl {
    max-width: 56rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
