@import '../../../styles/styles.scss';

label {
  font-weight: 500;
  color: var(--primary-color);
  padding-top: 8px;
}

.container {
  margin: 15px;
  width: 96%; //96vw !important;
}

.container-header {
  display: flex;
  label {
    font-size: 1.6rem;
    font-weight: 600;
  }
  @media (max-width: 670px) {
    flex-direction: column;
    .radio-buttons {
      flex-direction: column;
      margin-left: 0;
      align-items: flex-start;
    }
  }
}

.container-footer {
  padding-top: 20px;
  label {
    margin-top: 15px !important;
    cursor: pointer !important;
  }
}

.radio-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  label {
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 20px;
    user-select: none;
    cursor: pointer;
  }
}

.cdk-drag-preview {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ccc;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-handle {
  cursor: grab;
}
