:host ::ng-deep .p-element.p-dropdown-label.p-inputtext {
    padding: 5px 10px !important;
}

:host ::ng-deep .p-ripple.p-element.p-dropdown-item {
    padding: 5px !important;
    text-align: center !important;
}