<p-card [styleClass]="'w-30rem p-5'">
  <ng-template pTemplate="header">
    <div class="flex justify-content-center">
      <p-image src="assets/logo.svg" alt="Image" width="200px" />
    </div>
  </ng-template>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <app-primary-button styleClass="mt-5 mb-1" [fullWidth]="true" [loading]="loading" type="submit">
      <span>{{ 'login.forgot-password.button.label' | translate }}</span>
    </app-primary-button>
  </form>
</p-card>

<p-dialog header="Επαναφορά Κωδικού" [(visible)]="dialogVisible" [style]="{ width: '40rem' }" [modal]="true">
  <p>Λανθασμένα Στοιχεία</p>
</p-dialog>
