:host {
  .search-input {
    width: 300px;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  .table-card {
    background: none;
    border-radius: 8px;
    padding: 0;
    margin-bottom: 1.5rem;
    max-height: 500px;
    overflow: hidden;
  }
}
