@import '../../../../styles/styles.scss';

.answer-container {
  display: flex;
  width: 98%;
  align-items: center;

  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  //padding-top: 10px;
  padding: 10p;
  input {
    //margin-top: -7px;
    margin-left: 10px;
    border: none;
    outline: none;
    padding-right: 5px;
    font-size: 22px;
    height: 50px;
    resize: none;
    width: 94% !important;
  }
}

.separator {
  padding: 0 !important;
  padding-bottom: 3px !important;
  color: #666 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-weight: 300 !important;
  user-select: none;
}
