<app-loading [isLoading]="isLoading"></app-loading>

<div class="title-div">
  <i class="pi pi-users" style="font-size: 2.5rem"></i>
  <label>{{ 'analytics.users_overview' | translate }}</label>
</div>

<div class="main-div">
  <div class="div-with-border">
    <label>{{ userStats.activeStudents }}</label>
    <label>{{ 'analytics.active_students' | translate }}</label>
  </div>
  <div class="div-with-border">
    <label>{{ userStats.activeStaffMembers }}</label>
    <label>{{ 'analytics.active_staff_members' | translate }}</label>
  </div>
  <div class="div-with-border">
    <label>{{ userStats.activeClasses }}</label>
    <label>{{ 'analytics.active_classes' | translate }}</label>
  </div>
  <div class="div-no-border">
    <label>{{ userStats.activeParents }}</label>
    <label>{{ 'analytics.active_parents' | translate }}</label>
  </div>
</div>

<div class="title-div">
  <span class="material-symbols-outlined" style="font-size: 2.5rem">co_present</span>
  <div style="display: flex; flex-direction: column">
    <label>{{ 'analytics.teaching_stats' | translate }}</label>
    <i>{{ 'analytics.avg_numbers' | translate }}</i>
  </div>
</div>

<div class="main-div">
  <div class="div-with-border">
    <label>{{ teachingStats.studentsPerTeacher }}</label>
    <label>{{ 'analytics.students_per_teacher' | translate }}</label>
  </div>
  <div class="div-with-border">
    <label>{{ teachingStats.teachingHoursPerClass }}</label>
    <label>{{ 'analytics.teaching_hours_per_class' | translate }}</label>
  </div>
  <div class="div-with-border">
    <label>{{ teachingStats.teachingHoursPerTeacher }}</label>
    <label>{{ 'analytics.teaching_hours_per_teacher' | translate }}</label>
  </div>
  <div class="div-no-border">
    <label>{{ teachingStats.weeklySessions }}</label>
    <label>{{ 'analytics.weekly_sessions' | translate }}</label>
  </div>
</div>

<div class="title-div">
  <i class="pi pi-heart" style="font-size: 2.5rem"></i>
  <label>{{ 'analytics.school_performance' | translate }}</label>
</div>

<div class="percentages-div">
  <div class="div-whole-border" style="flex-direction: column">
    <label>{{ 'analytics.fees_collected' | translate }}</label>
    <div class="chart-wrapper">
      <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions" [type]="'doughnut'" [plugins]="chartPlugins"> </canvas>
    </div>
  </div>
  <div class="div-whole-border" style="flex-direction: column">
    <label>{{ 'analytics.attendance' | translate }}</label>
    <label>{{ schoolPerformance.attendance * 100 }}%</label>
  </div>
  <div class="div-whole-border" style="flex-direction: column">
    <label>{{ 'analytics.completed_sessions' | translate }}</label>
    <label>{{ schoolPerformance.completedSessions * 100 }}%</label>
  </div>
</div>
