<div cdkDropList [cdkDropListData]="questions" (cdkDropListDropped)="drop($event)">
  <label class="head-label">{{ 'customActivities.pairs' | translate }}</label>
  <div *ngFor="let question of questions; let i = index; trackBy: trackByIndex" cdkDrag>
    <matching-pairs-card
      [questionNumber]="i + 1"
      [answers]="question.answers"
      (deleteClicked)="handleQuestionDelete(i)"
      (onAnswersChanged)="handleAnswersChange($event, i)"
      (onRemoveClick)="removePair(i)"
    >
    </matching-pairs-card>
  </div>
  <label (click)="addPair()">+{{ 'customActivities.add_a_pair' | translate }}</label>
  <app-warning-dialog [warningMessage]="warningMessage" [isDialogVisible]="isWarningDialogVisible" (onClose)="isWarningDialogVisible = false" />
</div>
