label {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  color: var(--primary-color);
  max-width: fit-content;
  user-select: none;
}

.head-label {
  margin-top: 20px;
  margin-left: 10px;
  cursor: default !important;
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 500;
  max-width: fit-content;
  user-select: none;
}
