@import '../../../../styles/styles.scss';

.blocks-answer {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 0px;
  min-height: 100px;
  cursor: default;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; //flex-start;
  flex-wrap: wrap;
}

:host ::ng-deep {
  .p-button {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 18px;
    width: 132px;
    height: 50px;
    cursor: pointer;
  }
}

app-image-selector {
  margin-top: 5px;
}
