@import '../../../../styles/styles.scss';

.question-card {
  display: flex;
  align-items: flex-start; //center;
  width: 90%;

  label {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: var(--primary-color);
  }
  overflow-y: auto;
}

.question-card-container {
  width: 100% !important;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 9px !important;
  margin-left: 0px !important;
  label {
    font-weight: 500;
    cursor: pointer;
  }
}
