div {
  //background-color: #f2f2f7;
  padding: 10px;
  gap: 20px;
}

.main-div {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

:host ::ng-deep {
  .p-dropdown {
    margin: 10px;
    min-height: 44px !important;
    min-width: 150px !important;
  }
}

.dropboxes-div {
  display: flex;
  align-items: center;
}
