/* Customizations to the designer theme should be defined here */
@import './components/panel/card';
@import './components/input/inputtext';
@import './components/button/button';
@import './components/menu/menubar';
@import './components/menu/sidebar';
@import './components/data/datatable';
@import './components/file/fileupload';
@import './components/messages/inlinemessage';
@import './components/messages/message';
@import './components/messages/toast';
@import './components/input/calendar';
