
//(Required file)
@import "./variable";

@import "./core";
@import "../theme-base/components";
@import "./extensions";

// Import PrimeNG source files (Required file)
@import 'primeflex/primeflex.css';
@import 'primeflex/primeflex.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

