@import '../../../../../styles/styles.scss';

.question-card {
  display: flex;
  width: 90%;

  label {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: var(--primary-color);
  }
  overflow-y: auto;
}

.question-card-container {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  margin-left: 0px;
  label {
    font-weight: 500;
    cursor: pointer;
  }
}

.cdk-drag-preview {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ccc;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-handle {
  cursor: grab;
}
