
.black-label{
    font-size: 22px;
    font-weight: bold;
}

.icon-label-div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.main-div{
    display: flex;
    flex-wrap: wrap !important;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #afc8b2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 320px;
    aspect-ratio: 1;
    padding: 20px;
    label{
        font-size: 22px;
        //font-weight: bold;
        color: #498351;
        text-align: center;
        margin: 5px;
    }
    label .material-symbols-outlined {
        line-height: 1;
        vertical-align: middle;
    }
}

.blue-label{
    color: #1c6486 !important;
}

.orange-label{
    color: #ea7539 !important;
}

.card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    //width: 49%;
    gap: 20px !important;
}

hr {
  border: 1px solid #155f82;
  width: 100%;
  height: 2px;
}

.vertical-line {
  width: 2px; /* Set a very small width */
  height: auto; /* Set the desired height */
  background-color: #155f82; /* Set the color of the line */
  margin: 0 auto; /* To center it horizontally if needed */
}

.live-data-label{
    font-weight: bold;
    font-size: 24px;
    color: #0a769f;
    vertical-align: middle;
}

.div-with-right-border{
    display: flex;
    padding: 10px;
    margin: 5px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid #084f6a;
}

.div-without-border{
    display: flex;
    //border: 2px solid #155f82;
    //width: 20%;
    align-items: center;
    justify-content: center;
    border: 2px solid #084f6a;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table-header, .table-row {
  display: table-row;
}

.table-row {
  cursor: pointer;
}

.table-row:hover {
  background-color: #f0f0f0; /* subtle hover effect */
}

.table-header div {
  font-weight: bold;
  background: #186b23;
  color: white;
}

.table-header div, .table-row div {
  display: table-cell;
  padding: 8px;
  border: 1px solid #ddd;
}

.table-row:nth-child(even) {
  background: #ccd3cc;
}

.table-row:nth-child(odd) {
  background: #e7ebe8;
}



.info-box {
  border: 1px dashed #8dd1c7; /* Light green dashed border */
  border-radius: 6px; /* Rounded corners */
  padding: 12px 16px;
  background-color: #f9fdfc; /* Slight background */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 380px;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #4c9b90;
}

.info-icon {
  border: 1px solid #8dd1c7;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  color: #4c9b90;
  cursor: pointer;
  margin-left: 10px;
}