div {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep {
  .p-divider {
    margin: 0px;
    margin-bottom: 30px;
    border-top: 1px solid #ccc;
  }

  .selected {
    .p-menuitem-text {
      padding: 10px;
      box-shadow: 0px 0px 4px 4px var(--primary-color);
    }
  }

  .p-breadcrumb .p-menuitem-text {
    color: var(--primary-color-text) !important;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: x-large;
    user-select: none;
    width: 270px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #f2f2f7;
    cursor: pointer !important;
    @media (max-width: 340px) {
      font-size: large;
      width: 240px;
    }
  }

  .p-breadcrumb .p-breadcrumb-chevron {
    color: var(--primary-color-text) !important;
  }

  svg {
    color: #0071bb;
  }

  .p-breadcrumb {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    @media (max-width: 400px) {
      width: 280px;
    }
  }

  .p-breadcrumb .p-menuitem-separator .p-element .p-icon {
    margin: 10px;
  }

  .p-breadcrumb-list {
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      width: 310px !important;
      height: 100%;
      margin: 0.5em 0;
    }
  }
}
