.outer-div {
  width: 100%;
  align-items: center;
  label {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 26px;
  }
}

.inner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #777;
  border-radius: 10px;
  padding: 30px;
  gap: 65px;
  background-color: white;
  @media (max-width: 471px) {
    width: 310px;
  }
}

.image-button-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

:host ::ng-deep .p-button {
  width: 200px !important;
  justify-content: center !important;
}
