<div class="outer-div">
  <label>My tools</label>
  <img src="assets/images/wellness-center/tools.png" width="auto" height="60" />
  <div class="inner-div">
    <div class="image-button-div">
      <img src="assets/images/wellness-center/meditation.png" />
      <p-button (onClick)="navigateTo('meditation')">Meditation</p-button>
    </div>
    <div class="image-button-div">
      <img src="assets/images/wellness-center/relaxingMusic.png" />
      <p-button (onClick)="navigateTo('relaxing')">Relaxing music</p-button>
    </div>
    <div class="image-button-div">
      <img src="assets/images/wellness-center/calmTime.png" />
      <p-button (onClick)="navigateTo('calm')">Calm time</p-button>
    </div>
  </div>
</div>
